.card {
  padding: 30px 40px 30px 20px;
  max-width: 400px;
  min-width: 320;
  margin: 25px;
}

.margin-top {
  margin-top: 30px; /* Adicione a margem desejada entre o conteúdo e o divisor */
}

.margin-bottom {
  margin-bottom: 30px; /* Adicione a margem desejada entre o conteúdo e o divisor */
}


.value {
    font-size: 40px;
}