.container {
  width: 97%;
  margin:auto;
}

table {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.edit-button {
  background-color: rgb(102, 102, 235);
  margin-right: 10px;
}

::ng-deep .mat-tooltip {
  background-color: #1f5087;
  color: blue;
  border-radius: 4px;
  font-size: 12px;
}

::ng-deep .mat-tooltip-arrow {
  background-color: #333;
}

.italic-text {
  font-style: italic;
}
