.container {
  width: 97%;
  margin:auto auto 30px auto;
}

table {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.edit-button {
  background-color: rgb(102, 102, 235);
  margin-right: 10px;
}

.italic-text {
  font-style: italic;
}

.filter {
  display: flex;
}