<div class="container">
  <mat-card class="card">
    <mat-card-title>Configuração</mat-card-title>
    <mat-card-subtitle>Condição de pagamento</mat-card-subtitle>
    <mat-form-field appearance="fill">
      <mat-label>Condição de pagamento</mat-label>
      <input
        type="number"
        matInput
        maxlength="3"
        placeholder="Ex: 28"
        [(ngModel)]="paymentTerms"
      />
    </mat-form-field>

    <button style="margin-left: 10px;" mat-raised-button color="primary" (click)="savePaymentTerms(paymentTerms)">
      Atualizar
    </button>
  </mat-card>
</div>
