<div class="container">
  <mat-accordion>
    <mat-expansion-panel
      [expanded]="panelOpenState"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title
          ><mat-icon class="filter-icon">filter_alt</mat-icon> Filtre sua busca
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="date-range-pickers-container">
        <mat-form-field appearance="fill">
          <mat-label>Emitido entre</mat-label>
          <mat-date-range-input [rangePicker]="issuePicker">
            <input
              matStartDate
              [(ngModel)]="issueStart"
              placeholder="Data inicial"
            />
            <input matEndDate [(ngModel)]="issueEnd" placeholder="Data final" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="issuePicker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #issuePicker></mat-date-range-picker>

          <mat-error *ngIf="issueStartFC.hasError('matStartDateInvalid')"
            >Data inicial inválida</mat-error
          >
          <mat-error *ngIf="issueEndFC.hasError('matEndDateInvalid')"
            >Data final inválida</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Digitalizado entre</mat-label>
          <mat-date-range-input [rangePicker]="scannedPicker">
            <input
              matStartDate
              [(ngModel)]="scannedStart"
              placeholder="Data inicial"
            />
            <input
              matEndDate
              [(ngModel)]="scannedEnd"
              placeholder="Data final"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="scannedPicker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #scannedPicker></mat-date-range-picker>

          <mat-error *ngIf="scannedStartFC.hasError('matStartDateInvalid')"
            >Data inicial inválida</mat-error
          >
          <mat-error *ngIf="scannedEndFC.hasError('matEndDateInvalid')"
            >Data final inválida</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Previsão de pagamento (Dig)</mat-label>
          <mat-date-range-input [rangePicker]="forecastScPicker">
            <input
              matStartDate
              [(ngModel)]="forecastScStart"
              placeholder="Data inicial"
            />
            <input
              matEndDate
              [(ngModel)]="forecastScEnd"
              placeholder="Data final"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="forecastScPicker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #forecastScPicker></mat-date-range-picker>

          <mat-error *ngIf="forecastScStartFC.hasError('matStartDateInvalid')"
            >Data inicial inválida</mat-error
          >
          <mat-error *ngIf="forecastScEndFC.hasError('matEndDateInvalid')"
            >Data final inválida</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Previsão de pagamento (Apr)</mat-label>
          <mat-date-range-input [rangePicker]="forecastApprPicker">
            <input
              matStartDate
              [(ngModel)]="forecastApprStart"
              placeholder="Data inicial"
            />
            <input
              matEndDate
              [(ngModel)]="forecastApprEnd"
              placeholder="Data final"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="forecastApprPicker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #forecastApprPicker></mat-date-range-picker>

          <mat-error *ngIf="forecastApprStartFC.hasError('matStartDateInvalid')"
            >Data inicial inválida</mat-error
          >
          <mat-error *ngIf="forecastApprEndFC.hasError('matEndDateInvalid')"
            >Data final inválida</mat-error
          >
        </mat-form-field>
      </div>

      <div class="date-range-pickers-container">
        <mat-form-field appearance="fill">
          <mat-label>Aprovado entre</mat-label>
          <mat-date-range-input [rangePicker]="approvalPicker">
            <input
              matStartDate
              [(ngModel)]="approvalStart"
              placeholder="Data inicial"
            />
            <input
              matEndDate
              [(ngModel)]="approvalEnd"
              placeholder="Data final"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="approvalPicker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #approvalPicker></mat-date-range-picker>

          <mat-error *ngIf="approvalStartFC.hasError('matStartDateInvalid')"
            >Data inicial inválida</mat-error
          >
          <mat-error *ngIf="approvalEndFC.hasError('matEndDateInvalid')"
            >Data final inválida</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Pagamento realizado entre</mat-label>
          <mat-date-range-input [rangePicker]="paymentPicker">
            <input
              matStartDate
              [(ngModel)]="paymentStart"
              placeholder="Data inicial"
            />
            <input
              matEndDate
              [(ngModel)]="paymentEnd"
              placeholder="Data final"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="paymentPicker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #paymentPicker></mat-date-range-picker>

          <mat-error *ngIf="paymentStartFC.hasError('matStartDateInvalid')"
            >Data inicial inválida</mat-error
          >
          <mat-error *ngIf="paymentEndFC.hasError('matEndDateInvalid')"
            >Data final inválida</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select
            class="full-width"
            [(ngModel)]="paymentStatus"
            name="paymentStatus"
            multiple
          >
            <mat-option
              *ngFor="let paymentStatus of paymentStatuses"
              [value]="paymentStatus.value"
            >
              {{ paymentStatus.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-fab color="primary" (click)="searchData()">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-fab color="warn" (click)="clearFilter()">
          <mat-icon>cleaning_services</mat-icon>
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
