<div class="file-container" *ngIf="!file">
    <input type="file" (change)="getFile($event)" class="file" />
    <img [src]="img" alt="Imagem de exemplo">
</div>

<div class="file-selected" *ngIf="file">
  <div class="file-name">
    <strong>Nome do arquivo:</strong> {{ file.name }}
    <button mat-fab color="warn" (click)="cleanFile()">
      <mat-icon>cleaning_services</mat-icon>
    </button>
  </div>

  <!-- <button mat-raised-button color="warn" (click)="file = undefined">Cancelar</button> -->
</div>
<br />
<ng-content select=".preview" *ngIf="file"></ng-content>
<mat-divider></mat-divider>
<div class="tip-container">
  <h1>Sugestões de Lançamento</h1>
  <div class="td-tip-container">
    <h2 *ngIf="transportDocuments && transportDocuments.length > 0 || minNumberSerie1 || minNumberSerie11">CT-e | NFS-e</h2>
    <p *ngIf="transportDocuments && transportDocuments.length > 0">
      Emissão de <span class="bcyellow">{{ mostRecentIssueDate }}</span> até:
      <span class="bcyellow">{{ today }}</span
      >, por que o último registro tem emissão em {{ mostRecentIssueDate }}
    </p>
    <mat-divider></mat-divider>
    <p style="margin-top: 10px" *ngIf="minNumberSerie1 && maxNumberSerie1">
      Da NFS-e <span class="bcyellow">{{ minNumberSerie1 }}</span> até
      <span class="bcyellow">{{ maxNumberSerie1 }}</span> série 1, por que há
      pagamentos já lançados que não constam estas NFS-e no sistema
    </p>
    <p *ngIf="minNumberSerie11 && maxNumberSerie11">
      Do CT-e <span class="bcyellow">{{ minNumberSerie11 }}</span> até
      <span class="bcyellow">{{ maxNumberSerie11 }}</span> série 11, por que há
      pagamentos já lançados que não constam estes CT-e no sistema
    </p>
  </div>
</div>
<!-- <button *ngIf="file" class="register-button" mat-raised-button color="primary" (click)="getFile($event)">Lançar</button> -->

