<div class="file-container" *ngIf="!file">
    <input type="file" (change)="getFile($event)" class="file" />
    <img src="/assets/img/excel.svg" alt="Imagem de exemplo">
</div>

<div class="file-selected" *ngIf="file">
  <div class="file-name">
    <strong>Nome do arquivo:</strong> {{ file.name }}
  </div>
  <button mat-raised-button color="warn" (click)="file = undefined">Cancelar</button>
</div>
<br />
<ng-content select=".preview" *ngIf="file"></ng-content>
<!-- <button *ngIf="file" class="register-button" mat-raised-button color="primary" (click)="getFile($event)">Lançar</button> -->
<button *ngIf="file" class="register-button" mat-raised-button color="primary">Lançar</button>
