<!-- <button mat-raised-button (click)="toggleEditMode()">
  {{ isEditable ? "Disable edit mode" : "Enable edit mode" }}
</button> -->
<div class="container">
  <mat-stepper [linear]="isLinear" #stepper class="mat-elevation-z8">
    <mat-step>
      <ng-template matStepLabel>Lançar CT-e</ng-template>
      <h2>CT-e</h2>
      <app-uploader (fileEvent)="receiveFile($event, 'cte')" img="/assets/img/excel.svg">
        <app-transpor-document-preview class="preview" [transportDocuments]="transportDocuments"></app-transpor-document-preview>
      </app-uploader>
      <div>
        <button mat-button (click)="stepper.next()" style="margin-left: auto;">Próximo</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Lançar Notas Fiscais</ng-template>
      <h2>Notas Fiscais</h2>
      <app-uploader (fileEvent)="receiveFile($event, 'nf')" img="/assets/img/excel.svg">
        <app-invoice-preview class="preview" [invoices]="invoices"></app-invoice-preview>
      </app-uploader>
      <div>
        <button mat-button (click)="stepper.previous()">Voltar</button>
        <button mat-button (click)="stepper.next()">Próximo</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Lançar Pagamentos</ng-template>
      <h2>Pagamentos</h2>
      <app-uploader (fileEvent)="receiveFile($event, 'nf')" img="/assets/img/pdf.svg">
        <app-invoice-preview class="preview" [invoices]="invoices"></app-invoice-preview>
      </app-uploader>
      <div>
        <button mat-button (click)="stepper.previous()">Voltar</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
