<!-- <mat-stepper [linear]="isLinear" #stepper>
  <mat-step [editable]="isEditable">
    <ng-template matStepLabel>Lançar CT-e</ng-template>
    <h1>Uploader</h1>
    <div>
      <button mat-button matStepperNext>Próximo</button>
    </div>
  </mat-step>

  <mat-step [editable]="isEditable">
    <ng-template matStepLabel>Lançar Notas Fiscais</ng-template>
    <h1>Uploader</h1>
    <div>
      <button mat-button matStepperPrevious>Voltar</button>
      <button mat-button matStepperNext>Próximo</button>
    </div>
  </mat-step>

  <mat-step [editable]="isEditable">
    <ng-template matStepLabel>Lançar Pagamentos</ng-template>
    <h1>Uploader</h1>
    <div>
      <button mat-button matStepperPrevious>Voltar</button>
    </div>
  </mat-step>
</mat-stepper> -->

<button mat-raised-button (click)="toggleEditMode()">
    {{ isEditable ? 'Disable edit mode' : 'Enable edit mode' }}
  </button>
  
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step>
      <ng-template matStepLabel>Lançar CT-e</ng-template>
      <app-uploader></app-uploader>
      <div>
        <button mat-button (click)="stepper.next()">Próximo</button>
      </div>
    </mat-step>
  
    <mat-step>
      <ng-template matStepLabel>Lançar Notas Fiscais</ng-template>
      <h1>Uploader</h1>
      <div>
        <button mat-button (click)="stepper.previous()">Voltar</button>
        <button mat-button (click)="stepper.next()">Próximo</button>
      </div>
    </mat-step>
  
    <mat-step>
      <ng-template matStepLabel>Lançar Pagamentos</ng-template>
      <h1>Uploader</h1>
      <div>
        <button mat-button (click)="stepper.previous()">Voltar</button>
      </div>
    </mat-step>
  </mat-stepper>
  