.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px 30px 20px;
    max-width: 800px;
    min-width: 900px;
    margin: 25px;
  }

  .chart-container{
    width: 100%;
  }

  .title {
    margin-top: 30px; /* Adicione a margem desejada entre o conteúdo e o divisor */
    margin-bottom: 30px; /* Adicione a margem desejada entre o conteúdo e o divisor */
  }