<h2 mat-dialog-title>Deletar Pagamento</h2>
<strong>Serão deletados os CT-e, canhotos e pagamentos</strong>
<mat-dialog-content class="mat-typography form">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>CT-e</mat-label>
    <input matInput disabled [value]="data.transportDocument.number" />
  </mat-form-field>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Valor</mat-label>
          <input
            matInput
            disabled
            [value]="data.transportDocument.amount | currency : 'BRL'"
          />
        </mat-form-field>
      </td>

      <td>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Status de Pagamento Atual</mat-label>
          <input
            matInput
            disabled
            [value]="data.transportDocument.paymentStatus"
          />
        </mat-form-field>
      </td>
    </tr>
  </table>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Justificativa atual</mat-label>
    <textarea
      matInput
      [disabled]="true"
      name="reasonReduction"
      [value]="data.transportDocument.reasonReduction"
    ></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    (click)="deletePayment()"
    color="warn"
  >
    Deletar Pagamento
  </button>
</mat-dialog-actions>
