<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <img src="assets/img/logo.svg" alt="Logo" />
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="dashboard">
        <i class="material-icons">show_chart</i>
        Dashboard
      </a>
      <a mat-list-item routerLink="register">
        <i class="material-icons">upload_file</i>
        Lançamentos
      </a>
      <a mat-list-item routerLink="/config">
        <i class="material-icons">settings</i>
        Configurações
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <!-- <app-header></app-header> -->
    <div class="button-container">
      <button
        class="menu mat-elevation-z8"
        (click)="drawer.toggle()"
        mat-icon-button
      >
        <mat-icon>menu</mat-icon>
      </button>
      <button
        class="table mat-elevation-z8"
        (click)="showTable()"
        mat-icon-button
      >
        <mat-icon>table</mat-icon>
      </button>
    </div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
<div *ngIf="loading" class="loading-overlay">
  <mat-spinner class="spinner"></mat-spinner>
</div>
